<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JETLINKS</title>
    <!-- bootstraplink -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- jquerylinks -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" data-target="navbarNav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
          <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">
            <img src="/img/Capture.PNG" width="100" height="40" alt="">
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/pro">Pro</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/shortner">UrlShortner</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav index-navbar mt-2 mt-lg-0 ml-auto ">
            <li class="nav-item active ">
              <a class="nav-link btn btn-success" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link btn btn-color btn-success" href="/register">SignUp</a>
            </li>
        </div>
      </nav>
    
    </section>
    <section id="index-heading">
      <p class="text-center font-weight-normal index-query">The Only Link You’ll Ever Need</p>
      <p class="font-weight-light text-center">Connect audiences to all of your content with just one link</p>
     
    </section>
    <section id="phone-animation" >
    <img class="phone-gif img-fluid mx-auto d-block " src="/img/phonegiffour.gif" alt="gif">
    </section>
    <section id="bio-video" >
      
     <img  src="/img/giffy.gif" alt="" >
     <p class="float-lg-right ">Take your Links wherever your audience is, to help them to discover all your important content.</p>

    </section>
    <section id="bio-video-2">
      <img src="/img/jetlinks_.gif" alt="" style="margin-left:70%;">
      <p class="float-lg-left">
        Compress your links and make it easier to work with.
      </p>
    </section>
    
    <div class="bottom-container text-center">
      <img  src="/img/instagram.png" alt="" width="30" height="31">
<img src="/img/facebook.png" alt="" width="30" height="25">
<img  src="/img/twitter.png" alt="" width="30" height="25">
<img src="/img/youtube.png" alt="" width="30" height="25">
<p class="footer-text"> Created by <strong>siddharth </strong></p>
    </div>
   
    <script src="index.js">
    
    </script>
</body>
</html>